@charset "utf-8";

/*reset*/
body {
  font-family:  'Gill Sans', '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'sans-serif';
  font-size: 12px;
  line-height: 1.5;
  letter-spacing:0.5px;
  vertical-align: baseline;
  color: #fff;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {font-size:1em;}
h1, h2, h3, h4, h5, h6, div, p, dl, dt, dd, ul, ol, li, form, fieldset, blockquote, address, table, thead, tbody, tfoot, tr, td, caption {
	margin:0;
	padding:0;
}

li {list-style: none;}
img {vertical-align: top;}
a {text-decoration: none; color: inherit;}
strong {word-break: keep-all; text-overflow:ellipsis;}


:root {
 /* color */
  --main-color: #154734;
  --main2-color: #FFFFFF;
  --background-color: #F2F3F2;
  --lang-background: #E4E4E4;
  --taste-grove: #E2D9C2;
  --taste-garden: #BBC5BA;
  --taste-spice: #C6C89B;
}


/*layout*/
#wrap {width: 100%; background-color: var(--background-color);}
header {position: fixed; z-index: 400; width: 100%; height: 90px; text-transform: uppercase; transition: all 0.2s ease-in-out;}
header.scrolled {background-color: var(--background-color); color: var(--main-color);}

main {width: 100%; background-color: var(--background-color);}
main .visual {height:700px; background-color:var(--background-color);}
main .product {height:540px; background-color:var(--background-color); display: none;}
main .taste {height: 636px; background-color:var(--background-color); display: none;}
main .ourstory {height:540px; background-color:var(--background-color); display: none;}
main .container {background-color: var(--background-color); color: var(--main-color); display: none;}
main .cocktail_recipes {height:519px; position: relative; display: none;}
main .journal {height:771px; text-transform: uppercase; position: relative; display: none;}
main .stockist {height:483px; margin: 20px 0 80px; position: relative; display: none;}
footer {height: 664px; background-color:var(--main-color); display: none;}


/*header*/
header.scrolled .top h1 {opacity: 1;}
header.scrolled .util > li:last-child {background: url(../img/icons.svg) 9px 2px;}
.top {position: relative; display: flex; justify-content: space-between; padding: 36px 0;}
.top h1 {position: absolute; display: inline-block; top: 0; left: 50%; transform: translateX(-50%); margin: 21px 0; opacity: 0;}
.top .gnb {display: flex;}
.top .gnb li a {font-size: 12px; padding: 10px 25px;}
.top .gnb li:first-child a {padding-left: 0;}
.top .util {display: flex;}
.top .util li a {font-size: 12px; padding: 10px 25px;}
.top .util > li:last-child {text-indent: -9999px; width: 25px; height: 24px; background: url(../img/icons.svg) 9px -22px; padding: 0 12px;}
.top .util .lang {position: relative;}
.lang > a {text-decoration: underline;}
.top .util .lang > ul { display: none; border:1px solid var(--lang-background); border-radius: 5px; background-color:var(--main2-color); color: var(--main-color); width: 158px; position: absolute; top: 100%; left: 0;}
.top .util .lang > ul > a > li { padding: 10px; text-align: center;}
.top .util .lang:hover ul {display: block;}

.re_menu {display: none; width: 24px; padding: 24px;}
.re_menu div {width: 100%; height: 1px; background-color: var(--main2-color); margin: 6px 0; transition: 0.4s;}

/*script 활용*/
.change .bar1 {background-color: var(--main-color); transform: rotate(-45deg) translate(-4px,4px);}
.change .bar2 {opacity: 0;}
.change .bar3 {background-color: var(--main-color); transform: rotateZ(45deg) translate(-5.5px,-7px);}
